* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  }
  .containerB{
    display:flex;
    max-width: 1120px;
    width:98%;
    margin:80px auto 40px;
    flex-wrap: wrap;
  }
  .board-container{
    display:flex;
    flex-wrap: wrap;
    
    width:100%;

  }
  .form-group{
    width:100%;
    margin:30px 0 20px 0;
  }
  .form-group label{
    font-size: 24px;
    font-weight: bold;
    margin-left:10px;
  }
  .form-title{
    width:100%;
    height:56px;
    border:1px solid rgba(0,0,0,0.2);
  }
  .form-content{
    width:100%;
    height:400px;
    border:1px solid rgba(0,0,0,0.2);
  }
  .board-save{
    width: 250px;
    height: 50px;
    background-color: rgb(28, 171, 226);
    border: rgb(28, 171, 226);
    color:white;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
  }