
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

.boardDeatil_box{
  border: 1px solid;
  border-radius: 1% 1% 1% 1%;
  width: 60%;
  height: 1000px;
  margin-left: 20%;
  margin-right: 20%;
}

button{
  border: none;
  border-radius: 5%;
}
.top_button_box{
  height: 50px;
  padding-left: 59%;
  padding-right: 5%;
  padding-bottom: 12px;
  padding-top: 25px;
  margin-bottom: 20px;
}

.modify_button{
  height: 35px;
  width: 20%;
  float: left;
  border: none;
  border-radius: 5%;
  text-align: center;
  background-color:  rgb(132, 134, 136);
  padding-top: 7px;
  margin-right: 2%;
  font-size: 13.5px;
}

.delete_button{
  height: 35px;
  width: 20%;
  float: left;
  margin-right: 2%;
}

.list_button{
  height: 35px;  
  width: 15%;
  float: left;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

.article_header{
  height: 127px;
  width: 100%;
  margin-top: 10px;
}

.title{
  font-size: 35px;
}

.title_box{
 padding-top: 20px; 
 padding-left: 3%;
}

.user_imoticon{
  float: left;
  margin-bottom: 3px;
  padding-right: 2%;
}

.writer_top_box{
  padding-top: 10px;
  padding-left: 3%;

}

.writer_box{
  font-size: 13px;
  padding-bottom: 5px;
}

.writer_id{
  float: left;
  padding-top: 5px;
}

.chatting{
 margin-left: 1%;
 padding-top: 5px;
 width: 7%;
 border-radius: 5px;
}

.now_time{
  padding-top: 5px;
}


/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

hr{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 95%;
  margin-left: 2.5%;
  margin-left: 2.5%;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

.post_box{
  padding-left: 3%;
  padding-top: 10px;
  padding-bottom: 20px;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

.ad_banner{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

.writer_post{
  padding-left: 3%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.writer_second_imoticon{
  float: left;
  padding-right: 10px;
}

.wirter_post_button{
  padding-top: 15px;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

.registed_reply_box{
  width:60%;
  float: left;
}

.reply_imoticon{
  float: left;
  padding-left: 10px;
  padding-right: 3%;
}

.first_reply{
  padding-left: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-top: 5px; */
  
}

.reply_time{
  color: gray;
  font-size: 13px;
  float: left;
}

.lets_reply{
  font-size: 13px;
  color: gray;
  padding-left: 1%;
  float: left;
}

.reply_main{
  width: 100%;
  margin-top: 3px;
}

.reply_decoration{
  margin-top: 5px;
  margin-left: 14.5%;
}

#btn-reply-update{
	background-color: white;
	margin-left: 3%;
	margin-right: 1%;
	color: gray;
}

#btn-reply-delete{
	background-color: white;
	margin-left: 1%;
	color: gray;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

/* .reply_3dot_button_box{
 height:40px;
 width:100%;
 display: flex;
 justify-content: end;
 
} 

.reply_3dot_button{
  margin-bottom: 10px;
  margin-bottom: 80px;
  margin-top: 20px;
  margin-left: 35%;
  width: 40px;
  height: 40px;
} */

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

.posting_box{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.textarea{
  border: 3px solid rgb(188, 184, 184);
  width: 100%;
  height: 70px;
}

.textarea_imoticon_box{

}

.textarea_first_imoticon{
  float: left;
  background-color: white;

}

.textarea_second_imoticon{
  margin-left: 1%;
  float: left;
  background-color: white;


}

.lets_reply_button{
  margin-left: 80%;
  margin-bottom: 50px;
  background-color: rgb(28, 171, 226);
  color: #fff;
  width: 60px;
  height: 30px;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

.bottom_button_box{
  margin-top: 30px;
  border-radius: 30px;
}


